**/__pycache__/
*.pyc
backend/outputs/
backend/uploads/
backend/venv/
backend/.venv/
backend/.env
frontend/node_modules/
.DS_Store
google-credentials.json
backend\google-credentials.json
backend/PROYECTO_AUTOTEASER.md
Google-Credentials.json
.env
C:\Users\bryal\Desktop\Test-New-CAF\backend\Google-Credentials.json
backend/output/
oauth-client.json
token.json
backend/oauth-client.json
backend/token.json