# Configuración para Gemini LLM
GEMINI_API_KEY=tu_gemini_api_key_aqui

# Configuración de Google Cloud (Document AI) - Opcional, solo si se procesan documentos escaneados sin texto
GOOGLE_APPLICATION_CREDENTIALS=ruta/a/tu/Google-Credentials.json
GCP_PROJECT_ID=tu_project_id
GCP_LOCATION=us
GCP_PROCESSOR_ID_OCR=tu_processor_id_de_document_ai
